.scheduling-header {
    margin: 5px 5px 0 5px;
    display: flex;
    padding-bottom: 15px;
}

.header-title{
    font-size: 20px;
    font-weight: bold;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookable-days-container {
    display: flex;
    justify-content: space-evenly;
}

.bookable-day-btn {
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    font-size: 16px;
    background-color: white;
}

.bookable-day-btn:hover {
    cursor: pointer;
}

.bookable-day-btn-selected {
    background-color: #2069e0;
    color: white;
}

.timeslots-container {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.timesheet-link {
    margin-bottom: 100px;
}

table {
    border-collapse: collapse;
}

table td {
    padding: 0; 
    margin: 0;
    height: 100%
}

.table-time-column {
    height: 100%;
    padding-right: 40px;
    text-align: right;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.desk-btn {
    border: none;
    color: black;
    background-color: white;
    font-size: 18px;
    height: 55px;
    width: 100px;
}

/* COLORS FOR EACH EMPLOYEE BOOKED TIMES */
.Annie {
    border: none;
    background-color: #ffc425;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

/* .Annie-title {
    color: #ffc425;
    margin-left: 5px;
    padding: 3px;
} */

.Nicole {
    border: none;
    background-color: #00aedb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Bronwen {
    border: none;
    background-color: #0040DB;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Scott {
    border: none;
    background-color: #00b159;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.James {
    border: none;
    background-color: #b1c0bc;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Stephanie {
    border: none;
    background-color: #683548;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}