.scheduling-header {
    margin: 5px 5px 0 5px;
    display: flex;
    padding-bottom: 15px;
}

.header-title{
    font-size: 20px;
    font-weight: bold;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookable-days-container {
    display: flex;
    justify-content: space-evenly;
}

.bookable-day-btn {
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    font-size: 16px;
    background-color: white;
}

.bookable-day-btn:hover {
    cursor: pointer;
}

.bookable-day-btn-selected {
    background-color: #2069e0;
    color: white;
}

.timeslots-container {
    /* margin-top: 20px;
    margin-bottom: 60px; */
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    margin: 0 20px 50px 20px;
    overflow: auto;
}

  .timeslots-container::-webkit-scrollbar {
    height: 8px; /* Sets the height of the scrollbar */
  }
  
  .timeslots-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounds the handle */
  }
  
  .timeslots-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the scrollbar track */
    border-radius: 4px; /* Rounds the track */
  }

.timesheet-link {
    margin-bottom: 100px;
}

table {
    border-collapse: collapse;
}

table tbody{
    display: flex;
}

table td {
    padding: 0; 
    margin: 0;
    height: 100%;
    border: 1px solid rgb(202, 202, 202);

    /* border-left: 1px solid rgb(202, 202, 202); */
}

table tr {
    display: flex;
    flex-direction: column;
}

.table-time-column {
    height: 100%;
    padding: 20px 0;
    /* padding-right: 20px;
    padding-bottom: 30px; */
    text-align: left;
    font-size: 14px;
    color: black;
    font-weight: bold;
    border: none;
}

.desk-btn {
    border: none;
    color: black;
    background-color: white;
    font-size: 18px;
    height: 55px;
    width: 100px;
}

/* COLORS FOR EACH EMPLOYEE BOOKED TIMES */
.Tyson {
    border: none;
    background-color: #ffc425;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Jennifer {
    border: none;
    background-color: #8e4749;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}


.Jameso {
    border: none;
    background-color: #00aedb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Gavin {
    border: none;
    background-color: #0040DB;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Kerra {
    border: none;
    background-color: #ab15d9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Cassie {
    border: none;
    background-color: #00b159;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Finn {
    border: none;
    background-color: #09753a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Emily {
    border: none;
    background-color: #b1000f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.James {
    border: none;
    background-color: #b1c0bc;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}

.Julie {
    border: none;
    background-color: #683548;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 100px;
}